spectrogram_data/
project/
final_data1/
.ipynb_checkpoints/
Advance dataset
Advance_dataset_split/
__pycache__/
*.pt
*mlruns/
best_lora_rn18_model/
final_data_split/
final_data_split_80_20/
preprocessed_features/
data/
ADVANCE_DATA_split/
ADVANCE_Features/
*.pth

# from remote
preprocessed_features_80_20/
sound/
vision/
ADVANCE_images_split/
